In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
from datetime import datetime

In [71]:
# set relative data path
data_path = "csse_covid_19_data/csse_covid_19_time_series/"

In [131]:
# import latest data
d = pd.read_csv(f"{data_path}time_series_19-covid-Deaths.csv")
c = pd.read_csv(f"{data_path}time_series_19-covid-Confirmed.csv")
r = pd.read_csv(f"{data_path}time_series_19-covid-Recovered.csv")

# deaths = pd.read_csv("time_series-ncov-Deaths.csv")
# confirmed = pd.read_csv("time_series-ncov-Confirmed.csv")
# recovered = pd.read_csv("time_series-ncov-Recovered.csv")

# deaths.rename(columns={"Value":"Deaths"}, inplace=True)
# confirmed.rename(columns={"Value":"Confirmed"}, inplace=True)
# recovered.rename(columns={"Value":"Recovered"}, inplace=True)

# merge dataframes
#deaths.join(confirmed)

In [136]:
# transform data from wide to long
deaths = pd.melt(d, id_vars=["Province/State", "Country/Region", "Lat", "Long"], var_name="Date", value_name="Deaths")

In [111]:
# import list of EUCOM countries
with open('eucom.csv', 'r') as f:
    eucom = [line.strip() for line in f]

In [139]:
deaths.tail(50)

,Province/State,Country/Region,Lat,Long,Date,Deaths
26284,NaN,Kenya,-0.0236,37.9062,3/18/20,0
26285,NaN,Antigua and Barbuda,17.0608,-61.7964,3/18/20,0
26286,Alabama,US,32.3182,-86.9023,3/18/20,0
26287,NaN,Uruguay,-32.5228,-55.7658,3/18/20,0
26288,NaN,Ghana,7.9465,-1.0232,3/18/20,0
26289,Puerto Rico,US,18.2208,-66.5901,3/18/20,0
26290,NaN,Namibia,-22.9576,18.4904,3/18/20,0
26291,NaN,Seychelles,-4.6796,55.4920,3/18/20,0
26292,NaN,Trinidad and Tobago,10.6918,-61.2225,3/18/20,0
26293,NaN,Venezuela,6.4238,-66.5897,3/18/20,0
26294,NaN,Eswatini,-26.5225,31.4659,3/18/20,0
26295,NaN,Gabon,-0.8037,11.6094,3/18/20,0
26296,NaN,Guatemala,15.7835,-90.2308,3/18/20,1
26297,NaN,Mauritania,21.0079,10.9408,3/18/20,0
26298,NaN,Rwanda,-1.9403,29.8739,3/18/20,0
26299,NaN,Saint Lucia,13.9094,-60.9789,3/18/20,0
26300,NaN,Saint Vincent and the Grenadines,12.9843,-61.2872,3/18/20,0
26301,NaN,Suriname,3.9193,-56.0278,3/18/20,0
26302,French Guiana,France,3.9339,-53.1258,3/18/20,0
26303,Guam,US,13.4443,144.7937,3/18/20,0
26304,NaN,Kosovo,42.6026,20.9030,3/18/20,0
26305,Newfoundland and Labrador,Canada,53.1355,-57.6604,3/18/20,0
26306,Prince Edward Island,Canada,46.5107,-63.4168,3/18/20,0
26307,NaN,Central African Republic,6.6111,20.9394,3/18/20,0
26308,NaN,Congo (Brazzaville),-4.0383,21.7587,3/18/20,0
26309,NaN,Equatorial Guinea,1.5000,10.0000,3/18/20,0
26310,Mayotte,France,-12.8275,45.1662,3/18/20,0
26311,NaN,Uzbekistan,41.3775,64.5853,3/18/20,0
26312,Netherlands,Netherlands,52.1326,5.2913,3/18/20,58
26313,Nova Scotia,Canada,44.6820,-63.7443,3/18/20,0
26314,Guadeloupe,France,16.2500,-61.5833,3/18/20,0
26315,NaN,Benin,9.3077,2.3158,3/18/20,0
26316,NaN,Greenland,71.7069,-42.6043,3/18/20,0
26317,NaN,Liberia,6.4281,-9.4295,3/18/20,0
26318,Curacao,Netherlands,12.1696,-68.9900,3/18/20,0
26319,NaN,Somalia,5.1521,46.1996,3/18/20,0
26320,NaN,Tanzania,-6.3690,34.8888,3/18/20,0
26321,NaN,The Bahamas,24.2500,-76.0000,3/18/20,0
26322,Virgin Islands,US,18.3358,-64.8963,3/18/20,0
26323,Cayman Islands,United Kingdom,19.3133,-81.2546,3/18/20,1
26324,Reunion,France,-21.1351,55.2471,3/18/20,0
26325,NaN,Barbados,13.1939,-59.5432,3/18/20,0
26326,NaN,Montenegro,42.5000,19.3000,3/18/20,0
26327,NaN,Kyrgyzstan,41.2044,74.7661,3/18/20,0
26328,NaN,Mauritius,-20.2000,57.5000,3/18/20,0
26329,Aruba,Netherlands,12.5186,-70.0358,3/18/20,0
26330,NaN,Zambia,-15.4167,28.2833,3/18/20,0
26331,NaN,Djibouti,11.8251,42.5903,3/18/20,0
26332,NaN,"Gambia, The",13.4432,-15.3101,3/18/20,0
26333,Montserrat,United Kingdom,16.7425,-62.1874,3/18/20,0

In [135]:
d

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,10,10,15,16,19,22,22,27,29,29
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,Aruba,Netherlands,12.5186,-70.0358,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
458,NaN,Zambia,-15.4167,28.2833,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
459,NaN,Djibouti,11.8251,42.5903,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
460,NaN,"Gambia, The",13.4432,-15.3101,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
461,Montserrat,United Kingdom,16.7425,-62.1874,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0